
  * {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .outer-col-1 {
    background: #D7E8D4;
    font-weight: bold;
    font-style: italic;
    flex: 1;
  }
  .outer-col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .inner-row {
    display: flex;
    flex-direction: row;
  }
  .inner-col {
    flex: 3 0px;
  }
  .inner-row article {
    min-height: 60vh;
  }
  .inner-row aside {
    background: beige;
    flex: 1;
  }
  header, footer {
    background: yellowgreen;
    height: 20vh;
  }
  header, footer,  nav, aside {
    padding: 1em;
  }
  article {
            padding: 10px;
            margin: 10px;
            background: aqua;
        }

